<script type="text/javascript">
    function exibirDlgNovaEntrada() {
        $("#dlgNovaEstadia").modal("show");
    }

    function fecharNovaEstadia() {
        $("#dlgNovaEstadia").modal("hide");
        $("body").removeClass("modal-open");
        $(".modal.backdrop").remove();
    }
</script>


<div class="alert alert-info">

    <a data-ajax="true"
       data-ajax-loading="#loadAjax"
       data-ajax-method="POST"
       data-ajax-mode="replace"
       data-ajax-success="exibirDlgNovaEntrada"
       data-ajax-update="#telaEntrada"
       href="@Url.Action("NovaEntrada", "Home")"
       class="btn btn-success">
        <i class="glyphicon glyphicon-arrow-up"></i> Entrada
    </a>

    <a href="#" class="btn btn-danger">
        <i class="glyphicon glyphicon-arrow-down"></i> Sair
    </a>

</div>
<br/>